---
import Layout from '../layouts/Layout.astro';
import Reviews from '../components/Reviews.astro';
import { reviewsList } from '../api/mock/reviews';
import PhotoGallery from '../components/PhotoGallery.astro';
import type { PhotoGalleryModel } from '../api/models';
import { Wizard } from '../react-components/Wizard';

const photoGalleryItems: PhotoGalleryModel[] = [
  { image: '/photo-gallery/gallery-1-desktop.jpg' },
  { image: '/photo-gallery/gallery-2-desktop.jpg' },
  { image: '/photo-gallery/gallery-3-desktop.jpg' },
  { image: '/photo-gallery/gallery-4-desktop.jpg' },
  { image: '/photo-gallery/gallery-5-desktop.jpg' }
];
---
<Layout title="Title">
  <Wizard client:load/>
  <Reviews items={reviewsList}/>
  <div class="h-[100px]"></div>
  <PhotoGallery items={photoGalleryItems}></PhotoGallery>
</Layout>