---
import Layout from '../layouts/Layout.astro';
import Reviews from '../components/Reviews.astro';
---
<Layout title="Title">
  <div class="bg-deep-blue-100">
    <div class="container p-5">
      <Reviews />
    </div>
  </div>
</Layout>