---
import Button from 'components/Button.astro';
import Reviews from 'components/Reviews.astro';
import Layout from 'layouts/Layout.astro';
---

<Layout>
  <Button className="m-4">
    Let’s find out
  </Button>
</Layout>
