---
const paths = Astro.url.pathname.split('/');

interface Props {
  slugsAliases?: [
    {
      slug: string;
      title: string;
    }
  ];
}

const { slugsAliases = [] } = Astro.props;
---

<ul class="inline-flex gap-2 mb-4 font-medium text-sm">
  {paths.map((path, index) => {
      const href = paths.slice(0, index + 1).join('/') || '/';
      const pathTitle = (path.charAt(0).toUpperCase() + path.slice(1)) || 'Home';
      const slugTitle = slugsAliases.find(x => x.slug === pathTitle)?.title;
      const title = slugTitle || pathTitle;
      const notLastItem = index !== paths.length - 1;

      return (
          <li class="flex items-center">
            {notLastItem ?
                <>
                  <a class="underline" href={href}>{title}</a>
                  <span class="ml-1">></span>
                </> :
                <>
                  {title}
                </>}
          </li>);
    }
  )}
</ul>
