---
import classNames from 'classnames';
interface Props {
  className?: string;
  disabled?: boolean;
  loading?: boolean;
}

const { className, disabled, loading } = Astro.props;
---

<button disabled={disabled || loading} class={classNames(
  'transition duration-200 h-14 bg-orange-500 text-white font-medium px-6 rounded-sm hover:bg-orange-600',
  'disabled:cursor-not-allowed disabled:pointer-events-none disabled:opacity-60',
  className)}>
  <slot/>
</button>
