---
import type { PhotoGalleryModel } from '../api/models';

interface Props {
  items: PhotoGalleryModel[];
}

const { items } = Astro.props;
console.log(items);
---
<div style="background-color: #f5f6fe">
  <div class="container p-10">
    <div class="swiffy-slider slider-item-show3">
      <ul class="slider-container">
        {items.map((item) =>
            <li>
              <img alt="" src={item.image}/>
            </li>)
        }
      </ul>
    </div>
  </div>
</div>