---

---

<section id="image-carousel" class="splide" aria-label="Beautiful Images">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <img src="https://splidejs.com/images/slides/image-slider/01.jpg" alt="">
      </li>
      <li class="splide__slide">
        <img src="https://splidejs.com/images/slides/image-slider/01.jpg" alt="">
      </li>
      <li class="splide__slide">
        <img src="https://splidejs.com/images/slides/image-slider/01.jpg" alt="">
      </li>
    </ul>
  </div>
</section>

<script is:inline>
  new window.Splide('.splide', {
    type: 'loop',
    height: '9rem',
    perPage: 2,
    breakpoints: {
      640: {
        height: '6rem',
      },
    },
  });
</script>
